workflow.json
{
  "__SANITIZED_TEMPLATE__": true,
  "name": "updated team updates provider and dashboard",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "[REDACTED COOKIES AND AUTH TOKENS]",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        1440
      ],
      "id": "38c030c9-b835-47e0-90b1-60ccd53517b8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25c0115d-400b-4f8f-98cf-3466331444db",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        1264
      ],
      "id": "bc2273c4-95da-40e2-aced-d8e18af8a872",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://${GITLAB_HOST}/api/v4/users/{{ $json.id }}/events?after={{ DateTime.fromFormat($json.query.date, 'dd-MM-yyyy').minus({ days: 1 }).toFormat('yyyy-MM-dd') }}&before={{ DateTime.fromFormat($json.query.date, 'dd-MM-yyyy').plus({ days: 1 }).toFormat('yyyy-MM-dd') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        576
      ],
      "id": "9f08506f-c9f3-4560-b7e0-bbe997686d96",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "CSWtJd4ioyFwxd6T",
          "name": "OwnCloud"
        },
        "gitlabApi": {
          "id": "FhZHEErc7wr56J3e",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://${GITLAB_HOST}/api/v4/users?username={{ $json.query.user }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        480
      ],
      "id": "6c05aff4-4e48-42e1-8c4b-bb7fc0b55e38",
      "name": "HTTP Request1",
      "credentials": {
        "httpBasicAuth": {
          "id": "CSWtJd4ioyFwxd6T",
          "name": "OwnCloud"
        },
        "gitlabApi": {
          "id": "FhZHEErc7wr56J3e",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05dd2430-6383-4850-83e9-1dcba8115104",
              "name": "target_title",
              "value": "={{ $json.target_title }}",
              "type": "string"
            },
            {
              "id": "dc437b09-00b8-4738-8a0c-dbbd08e4abd3",
              "name": "action_name",
              "value": "={{ $json.action_name }}",
              "type": "string"
            },
            {
              "id": "f1857aa1-63a4-4bc9-b2fd-cc01d7e03598",
              "name": "push_data.commit_title",
              "value": "={{ $json.push_data.commit_title }}",
              "type": "string"
            },
            {
              "id": "b5d87b32-2316-45c3-93f2-11018966d2ed",
              "name": "created_at",
              "value": "={{ $json.created_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        576
      ],
      "id": "ac144591-c581-4f9c-b9ce-a54e5e808014",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "750da472-32c5-4a85-9828-3d5940ee3863",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        672
      ],
      "id": "8fb08ad9-9c42-4c27-9227-2692d3504819",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        576
      ],
      "id": "fc4ce45f-506b-4822-aa39-c4f6b3dff7d7",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "${GOOGLE_SHEETS_DOCUMENT_ID}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1377466107,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/${GOOGLE_SHEETS_DOCUMENT_ID}/edit#gid=1377466107"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user": "={{ $json.body.username }}",
            "tasks": "={{ $json.body.todaysTasks.join('\\n') }}",
            "pending": "={{ $json.body.pendingUploads }}",
            "notes": "={{ $json.body.notes }}",
            "date": "={{ $json.body.date }}"
          },
          "matchingColumns": [
            "user"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tasks",
              "displayName": "tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pending",
              "displayName": "pending",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        1264
      ],
      "id": "94d1c5a4-4b89-4675-b7a5-c4836bb3aca0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AIgKKHgfPGvFoBR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "${GOOGLE_SHEETS_DOCUMENT_ID}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1377466107,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/${GOOGLE_SHEETS_DOCUMENT_ID}/edit#gid=1377466107"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "date",
              "lookupValue": "={{ $json.date }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        896
      ],
      "id": "bf4d6fd5-55b4-444b-aab6-f3c467cf4dc6",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AIgKKHgfPGvFoBR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\" data-theme=\"dark\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Team Daily Dashboard</title>\n<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n<link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap\" rel=\"stylesheet\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css\">\n<style>\n  :root {\n    --bg:        #0d0f14;\n    --bg2:       #13161d;\n    --bg3:       #1a1e28;\n    --surface:   #1f2330;\n    --surface2:  #252a3a;\n    --border:    rgba(255,255,255,0.07);\n    --border2:   rgba(255,255,255,0.14);\n    --text:      #e8eaf2;\n    --text2:     #8b90a8;\n    --text3:     #555c75;\n    --accent:    #f59e0b;\n    --accent2:   #fbbf24;\n    --blue:      #3b82f6;\n    --blue2:     #60a5fa;\n    --purple:    #8b5cf6;\n    --cyan:      #06b6d4;\n    --green:     #10b981;\n    --red:       #ef4444;\n    --orange:    #f97316;\n    --radius:    14px;\n    --radius-sm: 8px;\n    --shadow:    0 4px 24px rgba(0,0,0,0.4);\n    --trans:     0.2s ease;\n  }\n  [data-theme=\"light\"] {\n    --bg:        #f0f2f7;\n    --bg2:       #e8ebf3;\n    --bg3:       #dde1ec;\n    --surface:   #ffffff;\n    --surface2:  #f5f7fc;\n    --border:    rgba(0,0,0,0.07);\n    --border2:   rgba(0,0,0,0.13);\n    --text:      #1a1e2e;\n    --text2:     #4a5068;\n    --text3:     #8b90a8;\n    --shadow:    0 4px 24px rgba(0,0,0,0.09);\n  }\n  *,*::before,*::after { box-sizing:border-box; margin:0; padding:0 }\n  html { scroll-behavior:smooth }\n  body {\n    font-family:'Inter',sans-serif;\n    background:var(--bg);\n    color:var(--text);\n    min-height:100vh;\n    padding:32px 20px 60px;\n    transition:background var(--trans),color var(--trans);\n    font-size:14px;\n    line-height:1.6;\n  }\n  .shell { max-width:1100px; margin:0 auto }\n\n  /* \u2500\u2500 HEADER \u2500\u2500 */\n  .header {\n    display:flex; align-items:center; justify-content:space-between;\n    margin-bottom:28px; padding-bottom:20px;\n    border-bottom:1px solid var(--border);\n    flex-wrap:wrap; gap:12px;\n  }\n  .header-left h1 {\n    font-size:22px; font-weight:700; letter-spacing:-0.5px;\n    background:linear-gradient(135deg,var(--accent2) 0%,var(--orange) 100%);\n    -webkit-background-clip:text; -webkit-text-fill-color:transparent;\n    background-clip:text;\n  }\n  .date-row {\n    display:flex; align-items:center; gap:8px;\n    margin-top:4px; font-size:12px; color:var(--text2);\n  }\n  .live-dot {\n    width:7px; height:7px; border-radius:50%;\n    background:var(--green);\n    box-shadow:0 0 0 2px rgba(16,185,129,0.3);\n    animation:ping 2s ease-in-out infinite;\n  }\n  @keyframes ping {\n    0%,100% { box-shadow:0 0 0 2px rgba(16,185,129,0.3) }\n    50%     { box-shadow:0 0 0 5px rgba(16,185,129,0.1) }\n  }\n  .header-right { display:flex; align-items:center; gap:10px }\n\n  .icon-btn {\n    width:36px; height:36px; border-radius:10px;\n    border:1px solid var(--border2);\n    background:var(--surface); cursor:pointer;\n    display:flex; align-items:center; justify-content:center;\n    font-size:15px; color:var(--text2);\n    transition:all var(--trans);\n  }\n  .icon-btn:hover { background:var(--surface2); color:var(--text) }\n  .icon-btn:active { transform:scale(0.005) }\n\n  /* \u2500\u2500 REFINED SUMMARY TILES \u2500\u2500 */\n  .summary-bar {\n    display:grid; grid-template-columns:repeat(3,1fr); gap:16px;\n    margin-bottom:28px;\n  }\n  @media(max-width:650px) { .summary-bar { grid-template-columns:1fr; } }\n  .stat-tile {\n  background:linear-gradient(145deg, var(--surface) 0%, var(--bg2) 100%); \n  border:1px solid var(--border);\n  border-radius:var(--radius); padding:20px 24px;\n  box-shadow:var(--shadow);\n  position:relative; overflow:hidden;\n  opacity:0; transform:translateY(28px) scale(.96);\n  \n  /* UPDATED: Added smooth hover reset transitions alongside the page-load animation */\n  transition: opacity .85s cubic-bezier(.22,1,.36,1), \n              transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94),\n              border-color 0.25s ease,\n              box-shadow 0.25s ease;\n}\n\n/* 2. ADD THIS NEW BLOCK right below it for the hover effect */\n.stat-tile:hover {\n  border-color: var(--border2);\n  transform: translateY(-3px) scale(1); /* Gives it a subtle 3px lift */\n  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);\n  \n  /* Instantly kills the JS entrance delay on hover */\n  transition-delay: 0s !important; \n  transition-duration: 0.2s;\n}\n  .stat-tile.is-visible { opacity:1; transform:translateY(0) scale(1); }\n  /* Base styling for the top line on ALL tiles */\n.stat-tile::before {\n  content:''; position:absolute; top:0; left:0; width:100%; height:3px;\n}\n\n/* 1. Yellow/Orange line for the Members block */\n.summary-bar > div:nth-child(1)::before {\n  background: linear-gradient(90deg, var(--accent) 0%, var(--orange) 100%);\n}\n\n/* 2. Blue line for the Total Tasks block */\n.summary-bar > div:nth-child(2)::before {\n  background: linear-gradient(90deg, var(--blue2) 0%, var(--blue) 100%);\n}\n\n/* 3. Cyan/Blue line for the Pending Uploads block */\n.summary-bar > div:nth-child(3)::before {\n  background: linear-gradient(90deg, var(--cyan) 0%, var(--blue) 100%);\n}\n  .stat-tile.accent-tile::before {\n    background:linear-gradient(90deg, var(--cyan) 0%, var(--blue) 100%);\n    opacity:1;\n  }\n  .stat-tile p:first-child {\n    font-size:11px; font-weight:600; text-transform:uppercase; letter-spacing:0.8px;\n    color:var(--text2); margin-bottom:10px; display:flex; align-items:center; gap:6px;\n  }\n  .stat-tile .stat-val {\n    font-size:34px; font-weight:800; line-height:1; letter-spacing:-0.5px;\n  }\n  .stat-tile .stat-sub {\n    font-size:12px; color:var(--text3); margin-top:6px;\n  }\n  /* \u2500\u2500 FILTER BAR \u2500\u2500 */\n  .filter-bar {\n    display:flex; align-items:center; gap:10px; flex-wrap:wrap;\n    margin-bottom:20px;\n  }\n  .chips-container {\n    display:flex; align-items:center; gap:10px; flex-wrap:wrap;\n  }\n  .filter-chip {\n    display:inline-flex; align-items:center; gap:6px;\n    padding:5px 14px; border-radius:50px;\n    font-size:11px; font-weight:600; font-family:'Inter',sans-serif;\n    cursor:pointer; border:1px solid var(--border2);\n    background:var(--surface); color:var(--text2);\n    transition:all var(--trans);\n  }\n  .filter-chip:hover { border-color:var(--border2); color:var(--text) }\n  .filter-chip.active { background:rgba(245,158,11,0.14); color:var(--accent2); border-color:rgba(245,158,11,0.3) }\n  .filter-dot { width:6px; height:6px; border-radius:50%; background:currentColor }\n  \n  .controls-wrap {\n    margin-left:auto; display:flex; gap:10px; flex-wrap:wrap; align-items:center;\n  }\n  .search-wrap { position:relative; }\n  .search-wrap i { position:absolute; left:10px; top:50%; transform:translateY(-50%); color:var(--text3); font-size:12px; pointer-events:none }\n  \n  .search-input {\n    background:var(--surface); border:1px solid var(--border2);\n    color:var(--text); font-family:'Inter',sans-serif; font-size:12px;\n    padding:7px 12px 7px 30px; border-radius:var(--radius-sm);\n    transition:all var(--trans); width:180px;\n  }\n  .search-input:focus { outline:none; border-color:var(--accent); box-shadow:0 0 0 3px rgba(245,158,11,0.12) }\n  .search-input::placeholder { color:var(--text3) }\n  \n  select.search-input {\n    padding-left:12px; width:150px; cursor:pointer;\n  }\n  select.search-input option {\n    background:var(--surface); color:var(--text);\n  }\n\n  /* \u2500\u2500 MEMBER CARDS GRID \u2500\u2500 */\n  .cards-grid {\n    display:grid;\n    grid-template-columns:repeat(auto-fill, minmax(320px, 1fr));\n    gap:16px;\n  }\n\n  /* \u2500\u2500 MEMBER CARD \u2500\u2500 */\n  .member-card {\n    background:var(--surface); border:1px solid var(--border);\n    border-radius:var(--radius); padding:0;\n    box-shadow:var(--shadow);\n    transition:border-color var(--trans), transform var(--trans), box-shadow var(--trans), opacity .65s cubic-bezier(.22,1,.36,1), transform .65s cubic-bezier(.22,1,.36,1);\n    overflow:visible; \n    opacity:0; transform:translateY(26px);\n  }\n  .member-card.is-visible { opacity:1; transform:translateY(0); }\n /* 1. Clean up the base card transition */\n.member-card {\n  background: var(--surface); \n  border: 1px solid var(--border);\n  border-radius: var(--radius); \n  padding: 0;\n  box-shadow: var(--shadow);\n  /* Combined the entrance (opacity) with snappy hover transitions */\n  transition: border-color var(--trans), \n              box-shadow var(--trans), \n              transform var(--trans), \n              opacity .65s cubic-bezier(.22,1,.36,1);\n  overflow: visible; \n  opacity: 0; \n  transform: translateY(26px);\n}\n\n/* 2. Update the hover state */\n/* 1. The base card (handles how it glides back DOWN when your mouse leaves) */\n.member-card {\n  background: var(--surface); \n  border: 1px solid var(--border);\n  border-radius: var(--radius); \n  padding: 0;\n  box-shadow: var(--shadow);\n  overflow: visible; \n  opacity: 0; \n  transform: translateY(26px);\n  \n  /* Smooth transition for resetting back to normal */\n  transition: border-color 0.25s ease, \n              box-shadow 0.25s ease, \n              transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), \n              opacity 0.65s cubic-bezier(.22,1,.36,1);\n}\n\n/* 2. The hover state (handles how it glides UP) */\n.member-card:hover {\n  border-color: var(--border2);\n  transform: translateY(-5px);\n  box-shadow: 0 8px 32px rgba(0,0,0,0.35);\n  \n  /* A tiny 40ms intentional delay so it doesn't feel jumpy */\n  transition-delay: 0.04s !important; \n  \n  /* A slightly longer, premium ease-out curve for a \"weightless\" lift */\n  transition-duration: 0.25s;\n  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); \n}\n\n/* 3. Kept exactly the same */\n.card-accent { height:3px; width:100% }\n.card-body { padding:18px }\n\n  .card-accent { height:3px; width:100% }\n  .card-body { padding:18px }\n\n  /* \u2500\u2500 MEMBER HEADER \u2500\u2500 */\n  .member-hdr {\n    display:flex; align-items:center; gap:12px; margin-bottom:16px;\n  }\n  .member-avatar {\n    width:40px; height:40px; border-radius:50%; flex-shrink:0;\n    display:flex; align-items:center; justify-content:center;\n    font-size:15px; font-weight:700; color:#fff;\n  }\n  .member-name { font-size:15px; font-weight:700; letter-spacing:-0.2px }\n  .member-date { font-size:11px; color:var(--text3); margin-top:1px }\n  .member-hdr-right { margin-left:auto; display:flex; gap:6px; align-items:center }\n\n  /* \u2500\u2500 SECTION \u2500\u2500 */\n  .section { margin-bottom:14px; position:relative }\n  .section:last-child { margin-bottom:0 }\n  .section-label {\n    display:flex; align-items:center; gap:6px;\n    font-size:10px; font-weight:600; text-transform:uppercase;\n    letter-spacing:.7px; color:var(--text3); margin-bottom:8px;\n  }\n  .section-label i { font-size:11px }\n\n  /* \u2500\u2500 TASK ITEMS \u2500\u2500 */\n  .task-list { display:flex; flex-direction:column; gap:5px }\n  .task-item {\n    display:flex; align-items:flex-start; gap:8px;\n    font-size:12px; color:var(--text2); line-height:1.5;\n  }\n  .task-item i { color:var(--green); margin-top:3px; font-size:10px; flex-shrink:0 }\n\n  /* \u2500\u2500 UPLOAD ROWS WITH EXPANSION ENGINE \u2500\u2500 */\n  .upload-list { display:flex; flex-direction:column; gap:6px }\n  .upload-row {\n    display:flex; align-items:center; gap:8px;\n    background:var(--bg2); border:1px solid var(--border);\n    border-radius:var(--radius-sm); padding:7px 10px;\n    font-size:12px;\n    position:relative;\n    transition:transform var(--trans), box-shadow var(--trans), background var(--trans), border-color var(--trans);\n  }\n  .upload-name { \n    flex:1; font-weight:500; color:var(--text); \n    min-width:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;\n    transition:all var(--trans);\n  }\n\n  /* \u2500\u2500 DYNAMIC PENDING HOVER VIEWER \u2500\u2500 */\n  .upload-row:hover {\n    border-color:var(--blue2);\n    background:var(--surface2);\n    transform:translateY(-1px) scale(1.015);\n    box-shadow:0 6px 20px rgba(0,0,0,0.4);\n    z-index:20;\n  }\n  .upload-row:hover .upload-name {\n    text-overflow:clip;\n    white-space:normal;\n    overflow:visible;\n    word-break:break-all;\n  }\n\n  /* \u2500\u2500 STATUS PILLS \u2500\u2500 */\n  .pill {\n    display:inline-flex; align-items:center; gap:4px;\n    padding:3px 8px; border-radius:50px;\n    font-size:10px; font-weight:700; letter-spacing:.2px;\n    white-space:nowrap; flex-shrink:0;\n  }\n  .pill-dot { width:5px; height:5px; border-radius:50%; background:currentColor; opacity:.8 }\n\n  /* \u2500\u2500 NOTES BLOCK \u2500\u2500 */\n  .notes-block {\n    background:var(--bg2); border:1px solid var(--border);\n    border-radius:var(--radius-sm); padding:9px 11px;\n    font-size:12px; color:var(--text2); line-height:1.6;\n    font-style:italic;\n  }\n\n  .divider { height:1px; background:var(--border); margin:12px 0 }\n\n  /* \u2500\u2500 STATES \u2500\u2500 */\n  .state-box {\n    text-align:center; padding:60px 20px;\n    color:var(--text3); font-size:13px;\n  }\n  .state-box i { font-size:36px; display:block; margin-bottom:14px; opacity:.4 }\n  .state-box p { margin-bottom:6px }\n  .state-box .state-sub { font-size:12px; color:var(--text3); opacity:.7 }\n  .spin { animation:spin .8s linear infinite }\n  @keyframes spin { to { transform:rotate(360deg) } }\n\n  .fadeUp { animation: fadeUp .4s ease both }\n  @keyframes fadeUp {\n    from { opacity:0; transform:translateY(14px) }\n    to   { opacity:1; transform:translateY(0) }\n  }\n\n  .empty-inline {\n    font-size:11px; color:var(--text3); font-style:italic; padding:4px 0;\n  }\n\n  .no-results {\n    grid-column:1/-1; text-align:center; padding:48px;\n    color:var(--text3); font-size:13px;\n  }\n  .no-results i { font-size:30px; display:block; margin-bottom:10px; opacity:.4 }\n\n  @media (prefers-reduced-motion: reduce) {\n    .stat-tile, .member-card { transition-duration:.01ms !important; }\n    .live-dot, .spin { animation:none !important; }\n  }\n</style>\n</head>\n<body>\n<div class=\"shell\">\n\n  <header class=\"header fadeUp\">\n    <div class=\"header-left\">\n      <h1>Team Daily Dashboard</h1>\n      <div class=\"date-row\">\n        <span class=\"live-dot\"></span>\n        <span id=\"currentDate\">Loading\u2026</span>\n      </div>\n    </div>\n    <div class=\"header-right\">\n      <button class=\"icon-btn\" id=\"themeToggle\" title=\"Toggle theme\">\n        <i class=\"fa-solid fa-sun\" id=\"themeIcon\"></i>\n      </button>\n    </div>\n  </header>\n\n  <div class=\"summary-bar\" id=\"summaryBar\" style=\"display:none\">\n    <div class=\"stat-tile\">\n      <p><i class=\"fa-solid fa-users\" style=\"color:var(--accent2)\"></i> Members reported</p>\n      <div class=\"stat-val\" id=\"statMembers\" style=\"color:var(--accent2)\">0</div>\n      <div class=\"stat-sub\">active contributors</div>\n    </div>\n    <div class=\"stat-tile\">\n      <p><i class=\"fa-solid fa-list-check\" style=\"color:var(--blue2)\"></i> Total tasks</p>\n      <div class=\"stat-val\" id=\"statTasks\" style=\"color:var(--blue2)\">0</div>\n      <div class=\"stat-sub\">logged across team</div>\n    </div>\n    <div class=\"stat-tile accent-tile\">\n      <p><i class=\"fa-solid fa-cloud-arrow-up\" style=\"color:var(--cyan)\"></i> Total Pending Uploads</p>\n      <div class=\"stat-val\" id=\"statPending\" style=\"color:var(--cyan)\">0</div>\n      <div class=\"stat-sub\">Data Delivery Delayed/Pending </div>\n    </div>\n  </div>\n\n  <div class=\"filter-bar\" id=\"filterBar\" style=\"display:none\">\n    <div class=\"chips-container\" id=\"statusChipsWrap\"></div>\n    \n    <div class=\"controls-wrap\">\n      <select class=\"search-input\" id=\"teamFilter\"></select>\n      \n      <div class=\"search-wrap\">\n        <i class=\"fa-solid fa-magnifying-glass\"></i>\n        <input class=\"search-input\" id=\"searchInput\" placeholder=\"Search member or task\u2026\" type=\"text\">\n      </div>\n    </div>\n  </div>\n\n  <div class=\"cards-grid\" id=\"cardsGrid\">\n    <div class=\"state-box\" id=\"stateBox\" style=\"grid-column:1/-1\">\n      <i class=\"fa-solid fa-circle-notch spin\"></i>\n      <p>Loading team updates\u2026</p>\n      <p class=\"state-sub\">Fetching from webhook</p>\n    </div>\n  </div>\n\n</div>\n\n<script>\n/* \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    DATA INTERACTION FROM WEBHOOK\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500 */\nconst RAW_DATA = {{ JSON.stringify($input.all().map(i => i.json)) }};\n\n/* \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    TEAM CONFIGURATION MAP\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500 */\n// TODO: Replace with actual team assignments\nconst TEAM_MAP = {\n  'team member 1': 'Team A',\n  'team member 2': 'Team A',\n  'team member 3': 'Team B',\n  'team member 4': 'Team B'\n};\n\nfunction getTeamName(username) {\n  const cleanName = (username || '').toLowerCase().trim();\n  return TEAM_MAP[cleanName] || 'E';\n}\n\n/* \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    DYNAMIC AESTHETIC / PILL GENERATOR\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500 */\nfunction getStatusConfig(rawStatus) {\n  const label = (rawStatus || 'Not Started').trim();\n  const key = label.toLowerCase().replace(/[^a-z0-9]/g, '');\n  const lo = label.toLowerCase();\n\n  if (lo.includes('block')) {\n    return { key, label, isBlocking: true, isEscalated: false, styles: `background:rgba(249,115,22,0.14); color:#fb923c; border:1px solid rgba(249,115,22,0.28);` };\n  }\n  if (lo.includes('escalat') || lo.includes('crit')) {\n    return { key, label, isBlocking: false, isEscalated: true, styles: `background:rgba(239,68,68,0.14); color:#f87171; border:1px solid rgba(239,68,68,0.28);` };\n  }\n  if (lo.includes('work') || lo.includes('progress') || lo.includes('done') || lo.includes('complet')) {\n    return { key, label, isBlocking: false, isEscalated: false, styles: `background:rgba(16,185,129,0.12); color:#34d399; border:1px solid rgba(16,185,129,0.25);` };\n  }\n  if (lo.includes('not') || lo.includes('start') || lo.includes('queue')) {\n    return { key, label, isBlocking: false, isEscalated: false, styles: `background:rgba(100,116,139,0.14); color:#94a3b8; border:1px solid rgba(100,116,139,0.22);` };\n  }\n\n  let hash = 0;\n  for (let i = 0; i < label.length; i++) hash = label.charCodeAt(i) + ((hash << 5) - hash);\n  const hue = Math.abs(hash) % 360;\n  return {\n    key,\n    label,\n    isBlocking: false,\n    isEscalated: false,\n    styles: `background:hsla(${hue}, 45%, 50%, 0.12); color:hsl(${hue}, 70%, 72%); border:1px solid hsla(${hue}, 45%, 50%, 0.25);`\n  };\n}\n\n/* \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    THEME\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500 */\nlet isDark = true;\nconst themeIcon = document.getElementById('themeIcon');\nfunction applyTheme(dark) {\n  isDark = dark;\n  document.documentElement.dataset.theme = dark ? 'dark' : 'light';\n  themeIcon.className = dark ? 'fa-solid fa-sun' : 'fa-solid fa-moon';\n  document.getElementById('themeToggle').style.color = dark ? '#fbbf24' : '#8b5cf6';\n}\napplyTheme(true);\ndocument.getElementById('themeToggle').addEventListener('click', () => applyTheme(!isDark));\n\n/* \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    DATE PARSING\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500 */\nconst urlParams = new URLSearchParams(window.location.search);\nlet reportDate = urlParams.get('date');\nif (!reportDate) {\n  const t  = new Date();\n  const dd = String(t.getDate()).padStart(2,'0');\n  const mm = String(t.getMonth()+1).padStart(2,'0');\n  reportDate = `${dd}-${mm}-${t.getFullYear()}`;\n}\nfunction formatDate(ddmmyyyy) {\n  const [dd,mm,yyyy] = ddmmyyyy.split('-');\n  const d = new Date(`${yyyy}-${mm}-${dd}`);\n  if (isNaN(d)) return ddmmyyyy;\n  return d.toLocaleDateString('en-IN', {\n    weekday:'long', day:'numeric', month:'long', year:'numeric',\n    timeZone:'Asia/Kolkata'\n  });\n}\ndocument.getElementById('currentDate').textContent = formatDate(reportDate);\n\n/* \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    AVATAR GENERATOR\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500 */\nconst PALETTE = [\n  { grad:'linear-gradient(135deg,#f59e0b,#f97316)', strip:'#f59e0b' },\n  { grad:'linear-gradient(135deg,#3b82f6,#8b5cf6)', strip:'#3b82f6' },\n  { grad:'linear-gradient(135deg,#06b6d4,#3b82f6)', strip:'#06b6d4' },\n  { grad:'linear-gradient(135deg,#10b981,#06b6d4)', strip:'#10b981' },\n  { grad:'linear-gradient(135deg,#8b5cf6,#ec4899)', strip:'#8b5cf6' }\n];\nfunction nameHash(name) {\n  let h = 0;\n  for (let i = 0; i < name.length; i++) h = (Math.imul(31, h) + name.charCodeAt(i)) | 0;\n  return Math.abs(h) % PALETTE.length;\n}\nfunction getPalette(name) { return PALETTE[nameHash(name)] }\n\n/* \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    PARSING METHODS\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500 */\nfunction parseTasks(str) {\n  if (!str) return [];\n  return str.split('\\n').map(s => s.trim()).filter(Boolean);\n}\n\nfunction parsePending(str) {\n  if (!str) return [];\n  return str.split('\\n').map(line => {\n    const trimmed = line.trim();\n    if (!trimmed) return null;\n    \n    const lastDashMatch = trimmed.match(/[\u2014\u2013-](?=[^\u2014\u2013-]*$)/);\n    \n    if (!lastDashMatch) return { name: trimmed, status: getStatusConfig('') };\n    \n    const index = lastDashMatch.index;\n    const name = trimmed.slice(0, index).trim();\n    const status = getStatusConfig(trimmed.slice(index + 1).trim());\n    \n    if (!name) return null;\n    return { name, status };\n  }).filter(Boolean);\n}\n\n/* \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    MERGE USER SUBMISSIONS\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500 */\nfunction mergeByUser(rows) {\n  const map = new Map();\n\n  rows.forEach(row => {\n    const key = (row.user || '').toLowerCase().trim();\n    if (!key) return;\n\n    if (!map.has(key)) {\n      map.set(key, {\n        user:    row.user,\n        date:    row.date,\n        tasks:   parseTasks(row.tasks),\n        pending: parsePending(row.pending),\n        notes:   [(row.notes||'').trim()].filter(Boolean),\n        submissionCount: 1,\n      });\n    } else {\n      const merged = map.get(key);\n      merged.submissionCount++;\n      merged.date = row.date;\n\n      const existingTaskKeys = new Set(merged.tasks.map(t => t.toLowerCase()));\n      parseTasks(row.tasks).forEach(t => {\n        if (!existingTaskKeys.has(t.toLowerCase())) {\n          merged.tasks.push(t);\n          existingTaskKeys.add(t.toLowerCase());\n        }\n      });\n\n      const pendingByName = new Map(merged.pending.map(p => [p.name.toLowerCase(), p]));\n      parsePending(row.pending).forEach(p => {\n        pendingByName.set(p.name.toLowerCase(), p);\n      });\n      merged.pending = [...pendingByName.values()];\n\n      const note = (row.notes||'').trim();\n      if (note && !merged.notes.includes(note)) merged.notes.push(note);\n    }\n  });\n\n  return [...map.values()].map(m => ({\n    user:          m.user,\n    date:          m.date,\n    tasks:         m.tasks.join('\\n'),\n    pending:       m.pending.map(p => `${p.name} - ${p.status.label}`).join('\\n'),\n    notes:         m.notes.join(' \u00b7 '),\n    submissionCount: m.submissionCount,\n  }));\n}\n\nfunction escHTML(s) {\n  return String(s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;');\n}\n\n/* \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    CARD COMPONENT COMPILER\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500 */\nfunction buildCard(row, idx) {\n  const tasks   = parseTasks(row.tasks);\n  const pending = parsePending(row.pending);\n  const notes   = (row.notes || '').trim();\n  const pal     = getPalette(row.user);\n  const team    = getTeamName(row.user);\n\n  const blockingCount  = pending.filter(p => p.status.isBlocking).length;\n  const escalatedCount = pending.filter(p => p.status.isEscalated).length;\n\n  const tasksHTML = tasks.length\n    ? tasks.map(t => `<div class=\"task-item\"><i class=\"fa-solid fa-circle-check\"></i><span>${escHTML(t)}</span></div>`).join('')\n    : `<p class=\"empty-inline\">No tasks logged</p>`;\n\n  const pendingHTML = pending.length\n    ? pending.map(p => `\n        <div class=\"upload-row\" title=\"${escHTML(p.name)}\">\n          <i class=\"fa-solid fa-database\" style=\"color:var(--cyan);font-size:11px;flex-shrink:0\"></i>\n          <span class=\"upload-name\">${escHTML(p.name)}</span>\n          <span class=\"pill\" style=\"${p.status.styles}\"><span class=\"pill-dot\"></span>${p.status.label}</span>\n        </div>`).join('')\n    : `<p class=\"empty-inline\">No uploads tracked</p>`;\n\n  let badgesHTML = '';\n  if (escalatedCount) badgesHTML += `<span class=\"pill\" style=\"background:rgba(239,68,68,0.14); color:#f87171; border:1px solid rgba(239,68,68,0.28); font-size:10px\"><span class=\"pill-dot\"></span>${escalatedCount} Escalated</span>`;\n  if (blockingCount)  badgesHTML += `<span class=\"pill\" style=\"background:rgba(249,115,22,0.14); color:#fb923c; border:1px solid rgba(249,115,22,0.28); font-size:10px\"><span class=\"pill-dot\"></span>${blockingCount} Blocking</span>`;\n\n  const resubBadge = (row.submissionCount > 1)\n    ? `<span style=\"background:rgba(99,102,241,0.14);color:#a5b4fc;border:1px solid rgba(99,102,241,0.28);font-size:10px;font-weight:600;padding:2px 7px;border-radius:50px;display:inline-flex;align-items:center;gap:4px\"><i class=\"fa-solid fa-code-merge\" style=\"font-size:9px\"></i>${row.submissionCount} submissions</span>`\n    : '';\n\n  return `\n    <div class=\"member-card\">\n      <div class=\"card-accent\" style=\"background:${pal.strip}\"></div>\n      <div class=\"card-body\">\n        <div class=\"member-hdr\">\n          <div class=\"member-avatar\" style=\"background:${pal.grad}\">${escHTML(row.user.charAt(0).toUpperCase())}</div>\n          <div style=\"min-width:0\">\n            <div class=\"member-name\">\n              ${escHTML(row.user)}\n              <span style=\"font-size:10px; font-weight:500; color:var(--text3); margin-left:4px; border:1px solid var(--border2); padding: 1px 5px; border-radius:4px; background:var(--bg2)\">${team}</span>\n            </div>\n            <div class=\"member-date\">${formatDate(row.date)}</div>\n          </div>\n          <div class=\"member-hdr-right\" style=\"gap:5px;flex-wrap:wrap;margin-left:auto\">\n            ${resubBadge}\n            ${badgesHTML}\n          </div>\n        </div>\n\n        <div class=\"section\">\n          <div class=\"section-label\">\n            <i class=\"fa-solid fa-bolt\" style=\"color:var(--accent2)\"></i> Today's tasks\n            <span style=\"margin-left:auto;background:var(--bg2);border:1px solid var(--border2);border-radius:50px;padding:1px 7px;font-size:10px;color:var(--text3)\">${tasks.length}</span>\n          </div>\n          <div class=\"task-list\">${tasksHTML}</div>\n        </div>\n\n        <div class=\"divider\"></div>\n\n        <div class=\"section\">\n          <div class=\"section-label\">\n            <i class=\"fa-solid fa-cloud-arrow-up\" style=\"color:var(--cyan)\"></i> Pending uploads\n            <span style=\"margin-left:auto;background:var(--bg2);border:1px solid var(--border2);border-radius:50px;padding:1px 7px;font-size:10px;color:var(--text3)\">${pending.length}</span>\n          </div>\n          <div class=\"upload-list\">${pendingHTML}</div>\n        </div>\n\n        ${notes ? `\n        <div class=\"divider\"></div>\n        <div class=\"section\">\n          <div class=\"section-label\"><i class=\"fa-solid fa-note-sticky\" style=\"color:var(--purple)\"></i> Notes</div>\n          <div class=\"notes-block\">${escHTML(notes)}</div>\n        </div>` : ''}\n      </div>\n    </div>`;\n}\n\n/* \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    RUNTIME DATA ENGINE & FILTERS\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500 */\nlet allData      = []; \nlet activeFilter = 'all';\nlet activeTeam   = 'all';\nlet searchQuery  = '';\n\nfunction setupDynamicFiltersUI() {\n  const statusMap = new Map();\n  const teamSet = new Set();\n\n  allData.forEach(row => {\n    teamSet.add(getTeamName(row.user));\n    parsePending(row.pending).forEach(p => {\n      statusMap.set(p.status.key, p.status);\n    });\n  });\n\n  const chipsWrap = document.getElementById('statusChipsWrap');\n  let chipsHTML = `<button class=\"filter-chip ${activeFilter === 'all' ? 'active' : ''}\" data-filter=\"all\"><span class=\"filter-dot\"></span> All Statuses</button>`;\n  \n  statusMap.forEach(status => {\n    const chipStyle = status.styles.replace(/background:[^;]*;\\s*/, '');\n    chipsHTML += `\n      <button class=\"filter-chip ${activeFilter === status.key ? 'active' : ''}\" data-filter=\"${status.key}\" style=\"${chipStyle}\">\n        <span class=\"filter-dot\" style=\"background:currentColor\"></span> ${status.label}\n      </button>`;\n  });\n  chipsWrap.innerHTML = chipsHTML;\n\n  document.querySelectorAll('.filter-chip').forEach(chip => {\n    chip.addEventListener('click', () => {\n      document.querySelectorAll('.filter-chip').forEach(c => c.classList.remove('active'));\n      chip.classList.add('active');\n      activeFilter = chip.dataset.filter;\n      renderAll();\n    });\n  });\n\n  const teamSelect = document.getElementById('teamFilter');\n  let teamHTML = '<option value=\"all\">All Teams</option>';\n  [...teamSet].sort().forEach(t => {\n    teamHTML += `<option value=\"${escHTML(t)}\">${escHTML(t)}</option>`;\n  });\n  teamSelect.innerHTML = teamHTML;\n  teamSelect.value = activeTeam;\n}\n\nfunction renderAll() {\n  const grid = document.getElementById('cardsGrid');\n\n  const filtered = allData.filter(row => {\n    const tasks   = parseTasks(row.tasks);\n    const pending = parsePending(row.pending);\n    const userLo  = (row.user||'').toLowerCase();\n    const searchLo = searchQuery.toLowerCase();\n\n    if (activeTeam !== 'all' && getTeamName(row.user) !== activeTeam) return false;\n\n    if (searchQuery) {\n      const match = userLo.includes(searchLo) || \n                    tasks.some(t => t.toLowerCase().includes(searchLo)) ||\n                    pending.some(p => p.name.toLowerCase().includes(searchLo));\n      if (!match) return false;\n    }\n\n    if (activeFilter !== 'all') {\n      return pending.some(p => p.status.key === activeFilter);\n    }\n    return true;\n  });\n\n  if (filtered.length === 0) {\n    grid.innerHTML = `<div class=\"no-results\" style=\"grid-column:1/-1\"><i class=\"fa-solid fa-magnifying-glass\"></i>No members match the dynamic filters applied.</div>`;\n    return;\n  }\n\n  grid.innerHTML = filtered.map((row, i) => buildCard(row, i)).join('');\n\n  const cards = grid.querySelectorAll('.member-card');\n  requestAnimationFrame(() => {\n    requestAnimationFrame(() => {\n      cards.forEach((el, i) => {\n        el.style.transitionDelay = (0.15 + i * 0.1) + 's';\n        el.classList.add('is-visible');\n      });\n    });\n  });\n}\n\nfunction renderSummary(mergedRows, totalRaw) {\n  let totalTasks = 0, totalPendingUploads = 0;\n\n  mergedRows.forEach(row => {\n    const tasks = parseTasks(row.tasks);\n    const pending = parsePending(row.pending);\n    totalTasks += tasks.length;\n    totalPendingUploads += pending.length;\n  });\n\n  document.getElementById('statMembers').textContent = mergedRows.length;\n  document.getElementById('statTasks').textContent   = totalTasks;\n  document.getElementById('statPending').textContent = totalPendingUploads;\n\n  document.getElementById('summaryBar').style.display = 'grid';\n  document.getElementById('filterBar').style.display  = 'flex';\n\n  // Force the browser to paint the \"hidden\" state at least once before\n  // switching to \"visible\" \u2014 otherwise the two style changes can get\n  // batched together and the transition never appears to run.\n  requestAnimationFrame(() => {\n    requestAnimationFrame(() => {\n      document.querySelectorAll('.stat-tile').forEach((el, i) => {\n        el.style.transitionDelay = (0.15 + i * 0.18) + 's';\n        el.classList.add('is-visible');\n      });\n    });\n  });\n}\n\n/* \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    INIT PROCESS\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500 */\nfunction loadData() {\n  const grid = document.getElementById('cardsGrid');\n  const rawRows = Array.isArray(RAW_DATA) && RAW_DATA.length > 0 ? RAW_DATA : [];\n\n  if (rawRows.length === 0) {\n    grid.innerHTML = `<div class=\"state-box\" style=\"grid-column:1/-1\"><i class=\"fa-solid fa-inbox\"></i><p>No updates submitted today yet.</p></div>`;\n    return;\n  }\n\n  allData  = mergeByUser(rawRows);\n  \n  setupDynamicFiltersUI();\n  renderSummary(allData, rawRows.length);\n  renderAll();\n}\n\ndocument.getElementById('teamFilter').addEventListener('change', e => {\n  activeTeam = e.target.value;\n  renderAll();\n});\n\ndocument.getElementById('searchInput').addEventListener('input', e => {\n  searchQuery = e.target.value;\n  renderAll();\n});\n\nloadData();\n</script>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1312,
        896
      ],
      "id": "f3e2fa51-3ab6-46d6-bf05-d580b9eca925",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "${GOOGLE_SHEETS_DOCUMENT_ID}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1563158266,
          "mode": "list",
          "cachedResultName": "tokens",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/${GOOGLE_SHEETS_DOCUMENT_ID}/edit#gid=1563158266"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "date",
              "lookupValue": "={{ $json.query.date }}"
            },
            {
              "lookupColumn": "token",
              "lookupValue": "={{ $json.query.token_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        1008
      ],
      "id": "fee5b76a-1403-4935-ad24-d39c78575e48",
      "name": "Get row(s) in sheet2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AIgKKHgfPGvFoBR",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "29acad1f-a399-4e09-b66d-95fbf971fcdb",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        944
      ],
      "id": "5d004f1c-8607-4abb-9429-903bf199c5fe",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "[REDACTED COOKIES AND AUTH TOKENS]",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        1104
      ],
      "id": "7f3d4e0c-0d71-48b4-9348-ca967cff8fa7",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "${GOOGLE_SHEETS_DOCUMENT_ID}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1563158266,
          "mode": "list",
          "cachedResultName": "tokens",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/${GOOGLE_SHEETS_DOCUMENT_ID}/edit#gid=1563158266"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "date",
              "lookupValue": "={{ $json.query.date }}"
            },
            {
              "lookupColumn": "token",
              "lookupValue": "={{ $json.query.token_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        1568
      ],
      "id": "fa8f298f-6a33-413b-bc09-4a8278b48b00",
      "name": "Get row(s) in sheet3",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AIgKKHgfPGvFoBR",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "29acad1f-a399-4e09-b66d-95fbf971fcdb",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        1488
      ],
      "id": "4f1e12cb-2c5d-461d-bbfb-8fdaccd3b2e3",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "[REDACTED COOKIES AND AUTH TOKENS]",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        1664
      ],
      "id": "b98f0e0b-5233-41a6-bdc6-84b6cce95417",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "path": "your-team-updates-webhook-id-here",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        1568
      ],
      "id": "571cf56d-0787-4ed5-a6e6-d6ba0056be44",
      "name": "updates form",
      "webhookId": "703f1dd6-689d-4b11-bcbb-65bb494ed0bd"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "your-webhook-id-here",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        192,
        1264
      ],
      "id": "b72efba7-8ac1-4e8d-8ce8-0032b292d44a",
      "name": "send updated to sheet",
      "webhookId": "your-webhook-id-here"
    },
    {
      "parameters": {
        "path": "team-e-updates-dashboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        1008
      ],
      "id": "ec95fa1c-2ab2-4681-ac45-267321c14ec7",
      "name": "view updated dashboard",
      "webhookId": "90782900-0637-4e39-ac1e-9c81f593237a"
    },
    {
      "parameters": {
        "path": "your-git-info-webhook-id-here",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        576
      ],
      "id": "05ee3dac-fb5d-4591-bd47-3618ef5738d9",
      "name": "get git info",
      "webhookId": "your-git-info-webhook-id-here"
    },
    {
      "parameters": {
        "jsCode": "[REDACTED COOKIES AND AUTH TOKENS]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        1200
      ],
      "id": "8403730c-0e0d-4e50-97be-1908c5fcc465",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "${GOOGLE_SHEETS_DOCUMENT_ID}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1563158266,
          "mode": "list",
          "cachedResultName": "tokens",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/${GOOGLE_SHEETS_DOCUMENT_ID}/edit#gid=1563158266"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "token": "={{ $json.token }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -576,
        1200
      ],
      "id": "e3ea284d-04c2-4127-83d2-f28104581546",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AIgKKHgfPGvFoBR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        1200
      ],
      "id": "ede48544-1f88-4d33-8985-ebe66bf7206e",
      "name": "adding tokens to sheet"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "${GOOGLE_SHEETS_DOCUMENT_ID}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1563158266,
          "mode": "list",
          "cachedResultName": "tokens",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/${GOOGLE_SHEETS_DOCUMENT_ID}/edit#gid=1563158266"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "date",
              "lookupValue": "={{ DateTime.now().toFormat('dd-MM-yyyy') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -592,
        544
      ],
      "id": "a5dd1049-f59b-4b05-a6ca-3678b853bcce",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AIgKKHgfPGvFoBR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "[REDACTED COOKIES AND AUTH TOKENS]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        544
      ],
      "id": "b81318b4-ebf7-4b24-bc3c-34b7d7325f66",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://${GOOGLE_CHAT_WEBHOOK_URL}/v1/spaces/AAQAv-H0en4/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=z8MV6KbtQf_uPmJNzwq-HDhQK9pL_CZXz4fd_9PhXL4",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        544
      ],
      "id": "a89b3b02-212a-4e75-9930-5ff412e151ca",
      "name": "Sent Msg to Google Chat",
      "retryOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7fbd24df-7c97-484c-980a-97f6239e2da4",
                    "leftValue": "={{ $json[\"Day of week\"] }}",
                    "rightValue": "S",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Weekdays"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -816,
        544
      ],
      "id": "9b107af4-16ce-4361-a053-26edda438130",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "${GOOGLE_SHEETS_DOCUMENT_ID}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1563158266,
          "mode": "list",
          "cachedResultName": "tokens",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/${GOOGLE_SHEETS_DOCUMENT_ID}/edit#gid=1563158266"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "date",
              "lookupValue": "={{ DateTime.now().toFormat('dd-MM-yyyy') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -592,
        768
      ],
      "id": "a5c74d23-747f-4aa0-b746-6f39cba69305",
      "name": "Get row(s) in sheet4",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AIgKKHgfPGvFoBR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "[REDACTED COOKIES AND AUTH TOKENS]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        768
      ],
      "id": "cf919c2e-319a-42c5-bdb3-cc51b4fc37e7",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://${GOOGLE_CHAT_WEBHOOK_URL}/v1/spaces/AAQAv-H0en4/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=intdgBmozL-U4OJId9az5vTOcLvYTtYjcdoNTOBRikk",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        768
      ],
      "id": "fab71ee9-1f48-44b8-8d88-92d41c5b1850",
      "name": "Sent Msg to Google Chat1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7fbd24df-7c97-484c-980a-97f6239e2da4",
                    "leftValue": "={{ $json[\"Day of week\"] }}",
                    "rightValue": "S",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Weekdays"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -816,
        768
      ],
      "id": "e7b851dd-5f34-47ce-8051-e20b0deda674",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        544
      ],
      "id": "42b7ccb2-b6fc-4d02-bb59-e0f5f582f011",
      "name": "updates add- 4pm"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "${GOOGLE_SHEETS_DOCUMENT_ID}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1377466107,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/${GOOGLE_SHEETS_DOCUMENT_ID}/edit#gid=1377466107"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -592,
        992
      ],
      "id": "cf275398-562d-4c13-bfab-2246f628e38f",
      "name": "Get row(s) in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AIgKKHgfPGvFoBR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== TEAM MEMBERS =====\nconst allMembers = [\n  \"Alice\",\n  \"Bob\",\n  \"Charlie\",\n  \"David\",\n  \"Emma\",\n  \"Frank\",\n  \"Grace\",\n  \"Henry\",\n  \"Ivy\",\n  \"Jack\"\n];\n\n// ===== GOOGLE CHAT USER IDS =====\nconst nameMap = {\n  // TODO: Replace with actual Google Chat user IDs\n  \"team member 1\": \"${GOOGLE_CHAT_USER_1}\",\n  \"team member 2\": \"${GOOGLE_CHAT_USER_2}\",\n  \"team member 3\": \"${GOOGLE_CHAT_USER_3}\",\n  \"team member 4\": \"${GOOGLE_CHAT_USER_4}\",\n  \"team member 5\": \"${GOOGLE_CHAT_USER_5}\",\n  \"team member 6\": \"${GOOGLE_CHAT_USER_6}\",\n  \"team member 7\": \"${GOOGLE_CHAT_USER_7}\",\n  \"team member 8\": \"${GOOGLE_CHAT_USER_8}\",\n  \"team member 9\": \"${GOOGLE_CHAT_USER_9}\",\n  \"team member 10\": \"${GOOGLE_CHAT_USER_10}\"\n};\n\n// ===== DETERMINE TARGET DATE =====\n// Monday -> Friday\n// Saturday -> Friday\n// Sunday -> Friday\n// Other days -> Yesterday\n\nconst now = new Date();\nconst targetDate = new Date(now);\n\nswitch (now.getDay()) {\n  case 1: // Monday\n    targetDate.setDate(now.getDate() - 3);\n    break;\n\n  case 6: // Saturday\n    targetDate.setDate(now.getDate() - 1);\n    break;\n\n  case 0: // Sunday\n    targetDate.setDate(now.getDate() - 2);\n    break;\n\n  default:\n    targetDate.setDate(now.getDate() - 1);\n}\n\n// Format DD-MM-YYYY\nfunction formatDate(date) {\n  return String(date.getDate()).padStart(2, \"0\") + \"-\" +\n         String(date.getMonth() + 1).padStart(2, \"0\") + \"-\" +\n         date.getFullYear();\n}\n\nconst targetDateStr = formatDate(targetDate);\n\n// ===== FIND WHO SUBMITTED ON TARGET DATE =====\n// Assumes:\n// user column = user\n// date column = date\n// date format = DD-MM-YYYY\n\nconst submittedUsers = new Set();\n\nfor (const item of items) {\n  const user = (item.json.user || \"\").trim();\n  const date = (item.json.date || \"\").trim();\n\n  if (!user || !date) continue;\n\n  if (date === targetDateStr) {\n    submittedUsers.add(user.toLowerCase());\n  }\n}\n\n// ===== FIND MISSING MEMBERS =====\n\nconst missingMembers = allMembers.filter(\n  member => !submittedUsers.has(member.toLowerCase())\n);\n\n// If everyone submitted, don't send message\nif (missingMembers.length === 0) {\n  return [];\n}\n\n// ===== CREATE GOOGLE CHAT MENTIONS =====\n\nconst mentionText = missingMembers\n  .map(name => nameMap[name.toLowerCase()])\n  .filter(Boolean)\n  .map(id => `<users/${id}>`)\n  .join(\" \");\n\n// ===== RETURN GOOGLE CHAT PAYLOAD =====\n\nreturn [\n  {\n    json: {\n      text: `*Last day's Update Missing*\nThis is a reminder to submit your *Last day's work update.*\nPending submissions from:\n\n${mentionText}\n\nPlease update it as soon as possible.\n\n_Ignore this message if you were on leave yesterday._`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        992
      ],
      "id": "a648a2c0-95fe-410a-b784-5ae5527d11c6",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://${GOOGLE_CHAT_WEBHOOK_URL}/v1/spaces/AAQAv-H0en4/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=z8MV6KbtQf_uPmJNzwq-HDhQK9pL_CZXz4fd_9PhXL4",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        992
      ],
      "id": "f3f4df6f-e6ed-48d7-836f-581ba22bf82e",
      "name": "Sent Msg to Google Chat2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"Day of week\"] }}",
                    "rightValue": "S",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "c086df1a-f48e-47e9-a4c3-5dca6307a37b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Weekend"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "586d839b-36dd-49a6-badd-c42158cb2526",
                    "leftValue": "={{ $json[\"Day of week\"] }}",
                    "rightValue": "S",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Working day"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -816,
        992
      ],
      "id": "a160a0bc-0553-41a1-a533-9d150a8deb74",
      "name": "Switch2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "${GOOGLE_SHEETS_DOCUMENT_ID}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1377466107,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/${GOOGLE_SHEETS_DOCUMENT_ID}/edit#gid=1377466107"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -592,
        1440
      ],
      "id": "0d58ddb2-1515-4502-a85c-474c0668614a",
      "name": "Get row(s) in sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AIgKKHgfPGvFoBR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allMembers = [\n  \"Alice\",\n  \"Bob\",\n  \"Charlie\",\n  \"David\",\n  \"Emma\",\n  \"Frank\",\n  \"Grace\",\n  \"Henry\",\n  \"Ivy\",\n  \"Jack\"\n];\n\nconst nameMap = {\n  // TODO: Replace with actual Google Chat user IDs\n  \"team member 1\": \"${GOOGLE_CHAT_USER_1}\",\n  \"team member 2\": \"${GOOGLE_CHAT_USER_2}\",\n  \"team member 3\": \"${GOOGLE_CHAT_USER_3}\",\n  \"team member 4\": \"${GOOGLE_CHAT_USER_4}\",\n  \"team member 5\": \"${GOOGLE_CHAT_USER_5}\",\n  \"team member 6\": \"${GOOGLE_CHAT_USER_6}\",\n  \"team member 7\": \"${GOOGLE_CHAT_USER_7}\",\n  \"team member 8\": \"${GOOGLE_CHAT_USER_8}\",\n  \"team member 9\": \"${GOOGLE_CHAT_USER_9}\",\n  \"team member 10\": \"${GOOGLE_CHAT_USER_10}\"\n};\n\nconst today = new Date();\nconst todayStr =\n  String(today.getDate()).padStart(2, \"0\") +\n  \"-\" +\n  String(today.getMonth() + 1).padStart(2, \"0\") +\n  \"-\" +\n  today.getFullYear();\n\nconst submittedUsers = new Set();\n\nfor (const item of items) {\n  const user = (item.json.user || \"\").trim();\n  const date = (item.json.date || \"\").trim();\n\n  if (date === todayStr && user) {\n    submittedUsers.add(user.toLowerCase());\n  }\n}\n\nconst missingMembers = allMembers.filter(\n  member => !submittedUsers.has(member.toLowerCase())\n);\n\nif (missingMembers.length === 0) {\n  return [];\n}\n\nconst mentionText = missingMembers\n  .map(name => nameMap[name.toLowerCase()])\n  .filter(Boolean)\n  .map(id => `<users/${id}>`)\n  .join(\" \");\n\nreturn [\n  {\n    json: {\n      text: `*Pending Updates Reminder*\nThis is a reminder to submit your *daily work update*.\n\nPending submissions from:\n\n${mentionText}\n\nPlease update it as soon as possible.\n\n_Ignore this message if you are on leave._`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        1440
      ],
      "id": "48733c3c-2ce5-4458-a704-cec6a0861564",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://${GOOGLE_CHAT_WEBHOOK_URL}/v1/spaces/AAQAv-H0en4/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=z8MV6KbtQf_uPmJNzwq-HDhQK9pL_CZXz4fd_9PhXL4",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        1440
      ],
      "id": "951ec33c-e59b-4f3b-b2ee-cbbb7b8c0c4d",
      "name": "Sent Msg to Google Chat3",
      "retryOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"Day of week\"] }}",
                    "rightValue": "S",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "c086df1a-f48e-47e9-a4c3-5dca6307a37b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Weekend"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "586d839b-36dd-49a6-badd-c42158cb2526",
                    "leftValue": "={{ $json[\"Day of week\"] }}",
                    "rightValue": "S",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Working day"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -816,
        1440
      ],
      "id": "b2933000-f079-42d9-aa7a-9aaf332c4c0d",
      "name": "Switch3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        768
      ],
      "id": "27b14097-7e81-4f09-b0ae-e24337f79fd8",
      "name": "updates dashbard- 8pm"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        1440
      ],
      "id": "17158b7f-a9f3-4595-8783-e58ec9cea878",
      "name": "evng reminder-6:30"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        992
      ],
      "id": "92c0eb66-96f3-4c2d-8ee6-55087ca0cf40",
      "name": "yesterday-9:45"
    }
  ],
  "pinData": {
    "updates form": [
      {
        "json": {
          "headers": {
            "host": "${N8N_BASE_URL}",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "[REDACTED COOKIES AND AUTH TOKENS]",
            "sec-ch-ua": "\"Google Chrome\";v=\"149\", \"Chromium\";v=\"149\", \"Not)A;Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "none",
            "sec-fetch-user": "?1",
            "upgrade-insecure-requests": "1",
            "x-forwarded-for": "${PRODUCTION_IP}",
            "x-forwarded-host": "${N8N_BASE_URL}",
            "x-forwarded-port": "80",
            "x-forwarded-proto": "http",
            "x-forwarded-server": "e34713bdee47",
            "x-real-ip": "${PRODUCTION_IP}"
          },
          "params": {},
          "query": {
            "date": "${CURRENT_DATE}",
            "token_id": "sdfsdfds"
          },
          "body": {},
          "webhookUrl": "https://${N8N_BASE_URL}/webhook/your-team-updates-webhook-id-here",
          "executionMode": "regular"
        }
      }
    ],
    "send updated to sheet": [
      {
        "json": {
          "headers": {
            "host": "${N8N_BASE_URL}",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36",
            "content-length": "262",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "content-type": "application/json",
            "origin": "null",
            "sec-ch-ua": "\"Google Chrome\";v=\"149\", \"Chromium\";v=\"149\", \"Not)A;Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "${PRODUCTION_IP}",
            "x-forwarded-host": "${N8N_BASE_URL}",
            "x-forwarded-port": "80",
            "x-forwarded-proto": "http",
            "x-forwarded-server": "f2d98987f194",
            "x-real-ip": "${PRODUCTION_IP}"
          },
          "params": {},
          "query": {},
          "body": {
            "date": "${CURRENT_DATE}",
            "username": "Bob",
            "todaysTasks": [
              "asdf",
              "asdfasdf",
              "asdfafsadfasdf"
            ],
            "pendingUploads": "\u2022 asdfasdfasdf (API) \u2014 Not Yet Started\n\u2022 sadfasdfasdf (API) \u2014 Not Yet Started\n\u2022 asdfasdfdsaf (API) \u2014 Not Yet Started",
            "notes": "adsfasdfsdf"
          },
          "webhookUrl": "https://${N8N_BASE_URL}/webhook/your-webhook-id-here",
          "executionMode": "regular"
        }
      }
    ],
    "view updated dashboard": [
      {
        "json": {
          "headers": {
            "host": "${N8N_BASE_URL}",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "cookie": "[REDACTED COOKIES AND AUTH TOKENS]",
            "sec-ch-ua": "\"Google Chrome\";v=\"149\", \"Chromium\";v=\"149\", \"Not)A;Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "none",
            "sec-fetch-user": "?1",
            "upgrade-insecure-requests": "1",
            "x-forwarded-for": "${PRODUCTION_IP}",
            "x-forwarded-host": "${N8N_BASE_URL}",
            "x-forwarded-port": "80",
            "x-forwarded-proto": "http",
            "x-forwarded-server": "f2d98987f194",
            "x-real-ip": "${PRODUCTION_IP}"
          },
          "params": {},
          "query": {
            "date": "${CURRENT_DATE}",
            "token_id": "${DATE_TOKEN}"
          },
          "body": {},
          "webhookUrl": "https://${N8N_BASE_URL}/webhook/your-dashboard-webhook-id-here",
          "executionMode": "regular"
        }
      }
    ],
    "get git info": [
      {
        "json": {
          "headers": {
            "host": "${N8N_BASE_URL}",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "origin": "null",
            "sec-ch-ua": "\"Google Chrome\";v=\"149\", \"Chromium\";v=\"149\", \"Not)A;Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "${PRODUCTION_IP}",
            "x-forwarded-host": "${N8N_BASE_URL}",
            "x-forwarded-port": "80",
            "x-forwarded-proto": "http",
            "x-forwarded-server": "e34713bdee47",
            "x-real-ip": "${PRODUCTION_IP}"
          },
          "params": {},
          "query": {
            "user": "alice.johnson",
            "date": "${CURRENT_DATE}"
          },
          "body": {},
          "webhookUrl": "https://${N8N_BASE_URL}/webhook/your-git-info-webhook-id-here",
          "executionMode": "regular"
        }
      }
    ],
    "evng reminder-6:30": [
      {
        "json": {
          "timestamp": "2026-01-19T18:30:05.033+05:30",
          "Readable date": "January 19th 2026, 6:30:05 pm",
          "Readable time": "6:30:05 pm",
          "Day of week": "Monday",
          "Year": "2026",
          "Month": "January",
          "Day of month": "19",
          "Hour": "18",
          "Minute": "30",
          "Second": "05",
          "Timezone": "Asia/Kolkata (UTC+05:30)"
        }
      }
    ],
    "yesterday-9:45": [
      {
        "json": {
          "timestamp": "2026-01-19T18:30:05.033+05:30",
          "Readable date": "January 19th 2026, 6:30:05 pm",
          "Readable time": "6:30:05 pm",
          "Day of week": "Monday",
          "Year": "2026",
          "Month": "January",
          "Day of month": "19",
          "Hour": "18",
          "Minute": "30",
          "Second": "05",
          "Timezone": "Asia/Kolkata (UTC+05:30)"
        }
      }
    ]
  },
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updates form": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send updated to sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "view updated dashboard": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get git info": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "adding tokens to sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Sent Msg to Google Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Sent Msg to Google Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updates add- 4pm": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet5": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Sent Msg to Google Chat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [],
        [
          {
            "node": "Get row(s) in sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet6": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Sent Msg to Google Chat3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [],
        [
          {
            "node": "Get row(s) in sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updates dashbard- 8pm": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evng reminder-6:30": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "yesterday-9:45": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": 0,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "${INSTANCE_ID}"
  },
  "id": "${WORKFLOW_ID}",
  "tags": [
    "automation",
    "team-updates"
  ],
  "credentials": {}
}